streamlit
python-dotenv
chromadb
protobuf==3.20.3
numpy==1.26.4
azure-cognitiveservices-speech
streamlit-mic-recorder
pyttsx3
SpeechRecognition
wikipedia
requests
beautifulsoup4
pypdf
# Optional mic support (Windows)
pyaudio; platform_system == "Windows"
